<html>
    <head>
        <title>Systest bundle upload</title>
    </head>
    <body ng-app="fileUpload">
    <h1>Systest Bundle upload</h1>
    <form  ng-controller="MyCtrl" name="uploadForm">
        Systest bundle<br>
        <input type="text" name="nameTest" ng-model="nameTest" size="31" required><br>
        <input type="file" ngf-select ng-model="file" name="file"  ngf-pattern="'*.json'" ngf-max-size="20MB" />
        <button ng-disabled="!uploadForm.$valid" ng-click="upload(file)">Submit</button>
    </form>
    </body>

    <script type="text/javascript" src="public/libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="public/libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</html>