<html>
    <head>
        <title>Systest bundle upload</title>
    </head>
    <body ng-app="fileUpload">
    <h1>Systest Bundle upload</h1>
    <form  ng-controller="MyCtrl as up" name="up.upload_form">
        Systest bundle
        <input type="file" ngf-select ng-model="up.file" name="file" 
        ngf-pattern="'*.json'" ngf-max-size="20MB" />
        <i ng-show="up.upload_form.file.$error.required">*required</i><br>
        <i ng-show="up.upload_form.file.$error.maxSize">Bestand is te groot {{up.file.size / 1000000|number:1}}MB: max 20M</i>
        <button type="submit" ng-click="up.submit()">Voeg toe</button>
    </form>
    </body>

    <script type="text/javascript" src="public/libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="public/libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</html>